<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Page</title>
</head>
<body>

    <h1>Liste des utilisateurs</h1>

    <div class="user" th:each="user : ${users}">
        <div th:text="${user.userName}"></div>
    </div>

    <a href="/">Retour</a>

</body>
</html>