<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="script.js" defer></script>
    <title>Main Page</title>
</head>
<body>

<h1>Hello world !</h1>

<p>Bienvenue administrateur dans la page d'affichage des utilisateurs</p>
<a href="user-list">Lister les utilisateurs</a>

<!--    <div>
        <button id="create-track">Créer une track</button>

        <input id="track-name">

        <div id="list"></div>
    </div>-->

</body>
</html>